<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      html {
        color: #222;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 19px;
        background-color: #fff;
        overflow-y: scroll;
        direction: ltr;
        padding-left: 5%;
        padding-right: 5%;
      }
      
      table {
        padding-left: 1%;
        padding-right: 5%;
      }
      
      ol {
        padding-left: 3%;
      }
      
      a {
        text-decoration: none;
      }
    
      .scalar-data tr.odd {
        background-color: #eeeeee;
        border: none;
      }
      .scalar-data td {
        padding-bottom: 4px;
        padding-right: 15px;
      }
      .scalar-data a:link {
        text-decoration: none;
      }
      .scalar-data a:visited {
        text-decoration: none;
      }
      .scalar-data a:hover {
        text-decoration: none;
      }
      .scalar-data a:active {
        text-decoration: none;
      }
      .scalar-data a {
        text-decoration: none;
      }
      
      .scalar-data {
        width: 650px;
      }
      
      #category-data {
        width: 100%;
        border-spacing: 0;
        display: table;
        border-color: grey;
      }
      #category-data th {
        text-align: left;
        font-weight: normal;
        font-size: 1em;
        padding: 12px 5px;
        color: #919191;
        border-bottom: 3px solid #e9e9e9;
      }
      #category-data td {
        border-bottom: 1px solid #e9e9e9;
        padding: 12px 5px;
      }
      #category-data tr:first-child > td:first-child {
        width: 25%;
      }
      #category-data a {
        text-decoration: none;
      }
      
      #category-data tr > td:nth-child(2n) {
        color: #919191;
      }
      
      #category-data tr > td:nth-child(3) {
        color: #919191;
        font-weight: bold;
      }
      
      #category-data tr > td:nth-child(5) {
        color: #bfbfbf;
      }
      
      .badge-category {
        color: #ffffff;
        padding: 2px 5px 2px 5px;
        font-weight: bold;
        font-size: 0.857em;
      }
      .badge-category-parent {
        padding: 2px 2px 2px 3px;
        font-size: 0.857em;
        width: 5px;
      }
      .badge-category-parent-hidden {
        padding: 2px 2px 2px 20px;
        font-size: 0.857em;
        width: 5px;
      }
      
    </style>
  </head>
  <body>
    <p>Metrics from
    <b><%= SiteSetting.weekly_email_report_interval.days.ago.to_date %></b>
    to <b><%= Date.today %></b></p>
    <hr />
    <table cellspacing="0" cellpadding="0" class="scalar-data">
      <tr>
        <td>New topics: </td>
        <td><%= @metrics[:new_topics].size %></td>
      </tr>
      <tr class="odd">
        <td>Topics without responses: </td>
        <td><%= @metrics[:no_response].size %></td>
      </tr>
    </table>
    <table>
      <% @metrics[:no_response].each do |topic| %>
        <tr>
          <td>&#8193;
          <% if row = @metrics[:table].find{|row| row[:category].id == topic.category_id} %>
            <% if row[:parent] %>
              <a href = "<%= @hostroot %>/c/<%= row[:parent].slug %>/<%= row[:category].slug %>">
              <span class="badge-category-parent" style="background-color: #<%= row[:parent].color %>">&nbsp;
              </span><span class="badge-category" style="background-color: #<%= row[:category].color %>">&nbsp;<%= row[:category].name %>&nbsp;</span>
            <% else %>
              <a href = "<%= @hostroot %>/c/<%= row[:category].slug %>">
              <span class="badge-category" style="background-color: #<%= row[:category].color %>">&nbsp;<%= row[:category].name %>&nbsp;</span>
            <% end %>
            </a>
          <% end %>
          &#8193;</td><td>
          <a href="<%= @hostroot %>/t/<%= topic.slug %>/<%= topic.id %>">
          <%= topic.title %></a>
          </td>
        </tr>
      <% end %>
    </table>
    <table cellspacing="0" cellpadding="0" class="scalar-data">
      <tr class="odd">
        <td>Average response time: </td>
        <td><%= @metrics[:average_response_time] %> </td>
      </tr>
      <tr>
        <td><%= @metrics[:solved] %> topics marked solved
        (<%= @metrics[:new_topics].size - @metrics[:solved] %> unmarked)</td>
        <td></td>
      </tr>
      <tr class="odd">
        <td>Top <%= SiteSetting.weekly_email_report_top_user_count %> posters:</td>
        <td></td>
      </tr>
    </table>
    <ol>
      <% @metrics[:top_posters].each do |user|%>
        <li><a href="<%= @hostroot %>/users/<%= user[:username] %>">
        <%= user[:username] %></a> (<%= user[:posts] %>)</li>
      <% end %>
    </ol>
    <table cellspacing="0" cellpadding="0" class="scalar-data">
      <tr class="odd">
        <td>Top <%= SiteSetting.weekly_email_report_top_user_count %> topic creators:</td>
        <td></td>
      </tr>
    </table>
    <ol>
      <% @metrics[:top_creators].each do |user|%>
        <li><a href="<%= @hostroot %>/users/<%= user[:username] %>">
        <%= user[:username] %></a> (<%= user[:topics] %>)</li>
      <% end %>
    </ol>
    <table cellspacing="0" cellpadding="0" class="scalar-data">
      <tr class="odd">
        <td>SLA time:</td>
        <td><%= SiteSetting.weekly_email_report_compliance %> minutes</td>
      </tr>
    </table>
    <table id="category-data">
      <thead><tr>
        <th>Category</th>
        <th>Average response time</th>
        <th>Percent promise-compliant</th>
        <th>Response percent</th>
        <th>Topics</th>
      </tr></thead>
      <tbody>
      <% @metrics[:table].each do |row| %>
        <% if row[:sample_size] > 0 || row[:parent].nil? || SiteSetting.weekly_email_report_show_empty_results%>
          <tr>
            <td>
              <% if row[:parent] %>
                <span class="badge-category-parent-hidden">&#8193;</span>
                <a href = "<%= @hostroot %>/c/<%= row[:parent].slug %>/<%= row[:category].slug %>">
                <span class="badge-category-parent" style="background-color: #<%= row[:parent].color %>">&nbsp;
                </span><span class="badge-category" style="background-color: #<%= row[:category].color %>">&nbsp;<%= row[:category].name %>&nbsp;</span>
              <% else %>
                <a href = "<%= @hostroot %>/c/<%= row[:category].slug %>">
                <span class="badge-category" style="background-color: #<%= row[:category].color %>">&nbsp;<%= row[:category].name %>&nbsp;</span>
              <% end %>
              </a>
            </td>
            <td><%= row[:avg_response_time] %></td>
            <td><%= row[:percent_response_compliant] %></td>
            <td><%= row[:response_percent] %></td>
            <td><%= row[:sample_size] %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </body>
</html>